<!-- Index Page -->

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <br><center><a href="{% url 'addproduct' %}"><button type="button" class="btn btn-success" style="font-size: 20px">Add Product</button></a></center><br>
    <center><a href="{% url 'show_product' %}"><button type="button" class="btn btn-success" style="font-size: 20px">View Product</button></a></center><br>
    <center><a href="{% url 'searchproduct' %}"><button type="button" class="btn btn-success" style="font-size: 20px">Search Product</button></a></center>
</body>
</html> 